/*================================
Google Fonts
================================*/

@import url('https://fonts.googleapis.com/css?family=Varela+Round');



/*================================
General Styles
================================*/

body {
    background-color: #21D4FD;
    background-image: linear-gradient(330deg, #21D4FD 0%, #B721FF 100%);
    font-family: 'Varela Round', sans-serif;
    height: 100%;
    min-height: 100vh;
    text-align: center;
}

h1 {
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
    margin: 20px 0;
}

table,
tr,
td {
    border: 1px solid;
    border-color: #4b4b4b;
    background-color: #fff;
}

td:hover {
    background-color: #dfe6e9;
}

/*.bgHover:hover {
    background-color: #dfe6e9 !important;
}*/

table {
    border-collapse: collapse;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
}

tr, td {
    /*height: 3.5vmin;
    min-width: 3.5vmin;
    width: 3.5vmin;*/
    height: 7vmin;
    min-width: 7vmin;
    width: 7vmin;
}

input[type=number] {
    font-family: 'Varela Round', sans-serif;
    width: 3.5em;
}

input[type=color] {
    border: none;
}



/*================================
Flex Styles
================================*/

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.canvas-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.button-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.button-flex input {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    cursor: pointer;
    margin-left: 20px;
}

.button-flex input:first-child {
    margin-left: 0px;
}

.button-flex input:hover {
    box-shadow: 0px 5px 30px rgba(0,0,0,0.3);
    transition: ease 0.2s;
}

.canvas-button {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    height: 40px;
    width: 40px;
}




/*================================
Settings Menu
================================*/

form {
    display: flex;
    flex-direction: column;
}

.form-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
}

.settings-menu {
    background: #fff;
    border-radius: 10px;
    color: #4b4b4b;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    height: 100%;
    width: 100%;
}

.settings-menu h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.settings-menu p {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
}


#hide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
}

.far {
    color: #4b4b4b;
    cursor: pointer;
    font-size: 2em;
    padding: 5px;
}

.far:hover {
    color: #ff3838;
    transition: ease 0.2s;
}

input[type=submit] {
    background-color: #45aaf2;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    margin: 0 auto;
    padding: 5px;
    width: 5em;
}

input[type=submit]:hover {
    background-color: #2d98da;
    transition: ease 0.2s;
}



/*================================
Respnsive CSS
================================*/

@media all and (min-width: 400px) {
    tr, td {
        height: 5vmin;
        min-width: 5vmin;
        width: 5vmin;
    }
}

@media all and (min-width: 500px) {
    tr, td {
        height: 4vmin;
        min-width: 4vmin;
        width: 4vmin;
    }

    h1 {
        font-size: 2.5em;
    }
}











